.assistant{
    position: relative;
    margin-bottom: 30px;
    &__content{
        display: flex;
        justify-content: space-between;
        @include m-tablet-wide{
            flex-direction: column-reverse;
            align-items: center;
        }
    }
    &__offer{
        display: flex;
        flex-direction: column;
        background: #ECF5FB;
        border-radius: 32px;
        padding: 50px 28px;
        max-width: 400px;
        width: 100%;
        @include m-tablet-wide{
            max-width: 860px;
        }
        @include m-phone{
            padding: 20px 10px;
        }    
        &-item{
            display: flex;
            justify-content: space-between;
        }
        &-item:not(:last-child){
            margin-bottom: 45px;
        }
        &-pic{}
        &-svg{
            width: 48px;
            height: 48px;
        }
        &-text{
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 25px;
            color: #2F2F2F;
            max-width: 255px;
            @include m-tablet-wide{
                max-width: 500px;
                font-size: 20px;
            }
            @include m-phone{
                font-size: 15px;
                max-width: 250px;
            }
        }
    }
    &__job{
        position: relative;
        // display: flex;
        width: 862px;
        height: 376px;
        overflow: hidden;
        background: #ECF5FB;
        border-radius: 32px;
        @include m-tablet-wide{
            margin-bottom: 20px;
            width: 860px;
        }
        @include m-tablet{
            width: 728px;
        }
        @include m-phone{
            width: 335px;
            flex-direction: column;
            text-align: center;
            height: 550px;
            //
        }
        &-item{
            position: relative;
            height: 100%;
            display: none;
        }
        &-content{
            display: flex;
        }
        &-texts{
            max-width: 450px;
            padding: 63px 27px 46px 27px;
            @include m-phone{
                padding: 20px 10px;
            }
        }
        &-title{
            font-style: normal;
            font-weight: 400;
            font-size: 36px;
            line-height: 25px;
            color: #2F4590;
            margin-bottom: 33px;
            @include m-phone{
                font-size: 24px;
            }
        }
        &-subtitle{
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 25px;
            color: #727272;
            margin-bottom: 70px;
            @include m-phone{
                margin-bottom: 30px;
            }
        }
        &-slider{
            display: flex;
            max-width: 65px;
            position: absolute;
            left: 30px;
            bottom: 50px;
            z-index: 2;
            @include m-phone{
                left: 50%;
                transform: translateX(-50%);
                bottom: 275px;
            }
        }
        &-btns{            
            height: 12px;
            width: 12px;
            border-radius: 6px;
            background: #fff;
            cursor: pointer;
        }
        &-btns:not(:last-child){
            margin-right: 9px;
        }
        &-pic{
            position: absolute;
            bottom: -20px;
            right: 0;
        }
        &-img{
            width: 361px;
            height: 255px;
            object-fit: cover;
        }
    }
}
.active{
    background: #2F4590;
}

.activer{
    display: block;
}

.bg1{
    background: #ECF5FB;
}
.bg2{
    background: #76b29b;
}
.bg3{
    background: #9eb680;
}
.bg4{
    background: #a57a97;
}