//шрифты
$font_size_default: 14;
$font_size: 14px;
$line_height: 20px;
$font_weight: 400;

$font_base: 'Gotham Rounded', sans-serif;
$font_second: 'Onest', sans-serif;

//цвета
$color_body: #f3f2f2;
$color_text: #28303F;

$color_white: #ffffff;
$color_black: #131313;
$color_gray: #898989;
$color_gray2: #F5F7FA;
$color_red: #E3001E;
$color_red_dark: #CD180A;
$color_green: #96E432;
$color_yel: #FFED02;
$color_blue: #308FFF;
$color_green: #41B05B;

//отступ
$padding: 0px;

//
$trsn: 0.2s;

