.footer{
    position: relative;
    &__bg{
        position: absolute;
        z-index: 1;
        width: 1440px;
        height: 340px;
        background: #0E3764;
        right: 50%;
        transform: translateX(50%);
        @include m-phone{
            height: 920px;
        }

    }
    &__content{
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
    }
    &__links{
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid #fff;
        padding: 60px 0;
        @include m-phone{
            flex-direction: column;
            align-items: center;
            padding: 30px 0;
        }
    }
    &__all{
        display: flex;
        @include m-phone{
                flex-direction: column;
                margin-bottom: 30px;
            }
        &-row:not(:last-child){
            margin-right: 50px;
            @include m-tablet-wide{
                margin-right: 20px;
            }
            @include m-phone{
                margin-right: 0;
                margin-bottom: 30px;
            }
        }
        &-title{
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 32px;
            color: #FFFFFF;
            margin-bottom: 14px;
            @include m-tablet{
                font-size: 16px;
            }
            @include m-phone{
                font-size: 32px;
            }
        }
        &-title:hover{
            text-decoration: underline;
        }
        &-link{
            display: block;
            font-family: 'Verdana';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #EAEBDC;
            @include m-tablet{
                font-size: 12px;
            }
            @include m-phone{
                font-size: 16px;
            }
        }
        &-link:hover{
            text-decoration: underline;
        }
        &-link:not(:last-child){
            margin-bottom: 10px;
        }
        &-tell{
            font-family: 'Verdana';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 16px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
        }
    }
    &__download{
        @include m-tablet-wide{
            max-width: 250px;
        }
        @include m-tablet{
            max-width: 170px;
        }
        @include m-phone{
            max-width: 200px;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        &-text{
            font-family: 'Verdana';
            font-style: normal;
            font-weight: 400;
            font-size: 12.8988px;
            line-height: 22px;
            color: #FFFFFF;
            margin-bottom: 13px;
        }
        &-link{
            display: block;
        }
        &-link:not(:last-child){
            margin-bottom: 13px;
        }
    }
    &__socials{
        display: flex;
        justify-content: flex-end;
        padding: 5px 0;
        &-link{}
        &-link:not(:last-child){
            margin-right: 16px;
        }
        &-pic{
            width: 26px;
            height: 26px;
            fill: #fff;
        }
        &-pic:hover{
            margin-top: -5px;
            transition: 0.2s;
        }
    }
}

.phone{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}