header{
    position: relative;
    width: 100%;
}

.header{
    position: relative;
    &__content{
        position: relative;
        padding: 20.5px 0;
        display: flex;
        align-items: center;
        @include m-tablet{
            justify-content: space-between;
        }
    }
    &__logo{
        margin-right: 20px;
        @include m-tablet{
            margin-right: 0;
            align-self: flex-start;
        }
    }
    &__menu{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
        @include m-tablet{
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            padding-top: 100px;
        }
        @include m-phone{
            // display: none;
        }
        
        &-item{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            @include m-tablet{
                margin-bottom: 30px;
                // width: 400px;
            }
            @include m-phone{
                width: 250px;
                height: 100%;
            }
        }
        &-item:first-child{
            @include m-phone{
                flex-direction: column;
            }
        }
        &-item:last-child{
            @include m-phone{
                display: flex;
                justify-content: space-between;
            }
        }
    }
    &__brg{
        margin-right: 20px;
        &-select{
            padding: 5px 15px;
            border: none;
            background: #ECF5FB;
            font-family: 'Gotham Rounded', sans-serif;
            font-style: normal;
            font-weight: 325;
            font-size: 13px;
            line-height: 24px;
            color: #28303F;
            
            @include m-tablet{
                font-size: 20px;
            }
        }
        @include m-phone{
            margin: 0;
            margin-bottom: 30px;
        }
    }
    &__link{
        font-style: normal;
        font-weight: 325;
        font-size: 13px;
        line-height: 24px;
        @include m-tablet{
            font-size: 20px;
        }
    }
    &__btn:not(:first-child){
        margin-left: 20px;
    }
    &__btn{
        
        &-link{
            width: 90px;
            height: 44px;
            border-radius: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include m-tablet{
                font-size: 20px;
            }
        }
    }
    &__btn:last-child{
        background: #ECF5FB;
        color: #2F4590;
    }
    &__search{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        border-radius: 10px;
        background: #ECF5FB;
        
        &-input{
            border: none;
            background: #ECF5FB;
            font-family: 'Gotham Rounded', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #2F4590;
            width: 200px;
            @include m-tablet{
                font-size: 20px;
            }
        }
        &-pic{
            width: 20px;
            height: 20px;
        }
    }
}


.menu-btn {
	width: 36px;
	height: 31px;
	padding: 5px;
	margin-top: -5px;
	margin-left: -5px;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	display: none;
    z-index: 10;
    position: relative;
    @include m-tablet() {
        display: flex;
        align-self: self-start;
    }
	&__wrap {
		width: 26px;
		height: 21px;
		position: relative;
	}
	span {
		position: absolute;
		top: 50%;
		background-color: #2F4590;
		width: 100%;
		height: 2px;
		margin-top: -1px;
		border-radius: 0px;
		transition: transform 0.2s, opacity 0.2s, margin-top 0.2s;
        // Внутрь инклуда ложим параметры, которые будут юзаться для закрывашки бургера, только для спана!
        @include m-tablet() {
            
        }
		&:nth-child(1) {
			transform: translateY(-8px);
		}
		&:nth-child(2) {
			width: 17px;
		}
		&:nth-child(3) {
			transform: translateY(8px);
		}
	}
	&.active {
		span {
			&:nth-child(1) {
				transform: translateY(0) rotate(-45deg);
			}
			&:nth-child(2) {
				width: 100%;
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(0) rotate(45deg);
			}
		}
	}
}

.btn-white:hover{
    background: #ECF5FB;
    box-shadow: 0 15px 20px rgba(135, 198, 230, 0.4);
    color: rgb(69, 69, 152);
    transform: translateY(-7px);
    transition: 0.2s;
}

.btn-blue:hover{
    box-shadow: 0 0 10px 0 #2F4590 inset, 0 0 10px 4px #2F4590;
    color: #2F4590;
    background: white;
    transition: .2s ease-in-out;
}

.btn-yellow:hover{
    box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
    color: #2F4590;
    background: transparent;
    transition: .2s ease-in-out;
    font-size: 18px;
}
